.unit-details {
    background-color: #5866f4;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .unit-details:hover {
    background-color: #4752c4;
  }
  
  