.card {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.task{
    cursor: pointer;
}

.card .card-title {
    font-size: 1.25rem;
    color: #333;
}

.card .card-text {
    font-size: 2rem;
    font-weight: bold;
}

.card .text-muted {
    font-size: 0.9rem;
}

.progress {
    height: 1rem;
}

.table img.rounded-circle {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
